.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;

    background-color: white;
}

.row-selected {
    /* .row; */
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: burlywood;
}

.cell1 {
    flex: 0 0 auto;
}

.cell2 {
    flex: 1 1 auto;
}