.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 103px;
  width: 711px;
  pointer-events: none;
}

.App-header {
  background-color: #558cf3;
  min-height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  color: rgb(245, 246, 250);
}

.App-link {
  color: #c7cbcc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Label-content{
  font-size: calc(10px + 2vmin);
  float: left;
  margin: 5px;
  /* width: 1000px; */
}

.title-center{
  flex-direction: row;
  justify-content: center;
}

.btn {
  display: inline-block;
  border: none;
  background: #558cf3;
  color: #fff;
  padding: 15px, 10px, 10px, 10px;
  cursor: pointer;
  float: right;
  font-size: calc(8px + 1.2vmin);
  margin: 5px;
}

.btnLeft {
  display: inline-block;
  border: none;
  background: #f89c45;
  color: #fff;
  padding: 15px, 10px, 10px, 10px;
  cursor: pointer;
  float: left;
  font-size: calc(8px + 1.2vmin);
  margin: 5px;
}



.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  background-color: white;
}

.row-selected {
  /* .row; */
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: burlywood;
}

.cell1 {
  flex: 0 0 auto;
}

.cell2 {
  flex: 1 1 auto;
}

.borderLine {
  border-color: coral;
  background-color: #629ff3;
  color: #f2f4f7;
  border: 10px;
  border-color: #1376d8;
}

input[type=text] {
  background: rgb(247, 247, 206);
  border: none;
  border-bottom: 1px solid #000000;
}

input[type=date] {
  background: rgb(247, 247, 206);
}
select {
  background: rgb(247, 247, 206);
}