.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 103px;
  width: 711px;
  pointer-events: none;
}

.App-header {
  background-color: #558cf3;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: rgb(245, 246, 250);
}

.App-link {
  color: #c7cbcc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Label-content{
  font-size: calc(10px + 2vmin);
  float: left;
  margin: 5px;
  /* width: 1000px; */
}

.title-center{
  flex-direction: row;
  justify-content: center;
}

.btn {
  display: inline-block;
  border: none;
  background: rgb(131, 182, 241);
  color: #fff;
  padding: 10px, 10px, 10px, 10px;
  cursor: pointer;
  float: right;
}


.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  background-color: white;
}

.row-selected {
  /* .row; */
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: burlywood;
}

.cell1 {
  flex: 0 0 auto;
}

.cell2 {
  flex: 1 1 auto;
}